# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: David van Wijk
name: David van Wijk
position: Postdoctoral Scholar
email: vanwijk@caltech.edu
description: >-
  I am a Postdoctoral Scholar in the <a href="https://robotics.caltech.edu/wiki/index.php/Main_Page">Burdick Group</a> at Caltech doing research with <a href="https://www.eas.caltech.edu/people/jburdick">Prof. Joel Burdick</a> and <a href="https://mce.caltech.edu/people/adames">Prof. Aaron Ames</a>. I earned my Ph.D. in Aerospace Engineering at Texas A&M University under the supervision of <a href="https://engineering.tamu.edu/aerospace/profiles/majji-manoranjan.html">Prof. Manoranjan Majji</a>, where I focused on developing provably safe control algorithms for autonomous systems. I first became interested in control theory during my undergrad at Cornell with <a href="https://www.engineering.cornell.edu/people/silvia-ferrari/">Prof. Silvia Ferrari</a>.<br><br>

  During my graduate studies I worked closely with <a href="https://www.linkedin.com/in/kerianne-hobbs-ph-d-13479b27/">Dr. Kerianne Hobbs</a> in the safe autonomy team at <a href="https://www.afrl.af.mil/ACT3/">AFRL</a>. At AFRL, I worked on developing novel safety-critical control methods to allow safe, learning-enabled control on USAF and USSF aerospace systems.<br><br>
  
  I am interested in problems which merge control theory, optimization, and estimation to enhance the reliability of autonomous systems in complex environments.
  
  <hr>
    <b>California Institute of Technology</b> <br>
    <em>Postdoctoral Scholar, Mechanical & Civil Engineering</em>, (August 2025 -- ) <br>

    <b>Texas A&M University</b> <br>
    <em>Ph.D., Aerospace Engineering</em>, (2021 -- 2025) <br>
    Dissertation: <em>Safety-Critical Control of Input-Constrained Systems</em> <br>

    <b>Cornell University</b> <br>
    <em>B.S., Mechanical & Aerospace Engineering</em>, (2017 -- 2021) <br>
    <em>Magna Cum Laude</em>
    
  <p>

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://davidvwijk.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
github_username: davidvwijk
linkedin_username: david-van-wijk
google_scholar: 7ujEtCUAAAAJ&hl
google_analytics: G-FR22TDJD8Q
orcid_id: 0000-0003-4494-601X

# Build settings
theme: minima
plugins:
  - jekyll-feed

sass:
  style: compact

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
